@import "seattletimes";

main.interactive {
  font-family: @df-sans;
  font-size: 15px;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px 0;
  border-top: 1px solid @df-light-gray;
  border-bottom: 1px solid @df-light-gray;

  p.chatter {
    font-family: @df-serif;
  }
}

.panels {
  .display-flex();

  @media @mobile {
    .flex-wrap(wrap);
  }
}

ul.components {
  // .flex(1 1 150px);
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;

  @media @mobile {
    .flex(0 0 50%);
    font-size: 13px;
  }

  li:not(:first-child) {
    border-top: 1px solid @df-light-gray;
  }

  li.divider {
    border: none;
    border-top: 1px solid @st-dark-purple;
    height: 1px;
  }

  li.instruction {
    color: @df-middle-gray;
  }

  input[type=checkbox] {
    display: none;
  }

  input + label {
    padding: 3px 8px 3px 0;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    color: @df-middle-gray;

    &::before {
      content: " ";
      font-weight: normal;
      width: 20px;
      text-align: center;
      display: inline-block;
    }
  }

  label.next-step {
    color: black;
    &::before {
      content: "+";
    }
  }

  input:checked + label {
    font-weight: bold;
    color: black;

    &::before {
      content: "✔"
    }
  }
}

.recipes {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 150px;
  border-left: 1px solid @df-middle-gray;

  @media @mobile {
    .flex(0 0 50%);
    font-size: 13px;
  }

  li {
    border-bottom: 1px solid @df-light-gray;
  }

  li.instruction {
    padding: 0 3px;
    color: @df-middle-gray;
  }

  a {
    display: block;
    padding: 3px 8px;
    color: black;
    cursor: pointer;

    &.selected {
      background: tan;
    }
  }
}

.recipe-panel {
  .flex(1 1 300px);
  border-left: 1px solid @df-middle-gray;
  position: relative;
  padding: 0 8px;

  &.empty::after {
    display: block;
    padding: 40px;
    text-align: center;
    content: "Select a drink for the recipe";
    color: @df-middle-gray;
  }

  h1 {
    margin: 0 0 10px;
    font-size: 24px;
    font-family: "Merriweather Sans", @df-sans;
  }

  h2 {
    margin: 0;
    font-size: 16px;
  }

  .video-container {
    margin-bottom: 20px;
  }

  .ingredients {
    margin-top: 0;
  }
}

.video-container {
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 0;
    padding-bottom: percentage(9 / 16);
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}