<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <!-- content goes here -->
      <ul class="drink-guide">
        <li> <a class="push-stack" href="javascript:;" data-drink="Old Fashioned">Old Fashioned</a>
        <li> <a class="push-stack" href="javascript:;" data-drink="Moscow Mule">Moscow Mule</a>
        <li> <a class="push-stack" href="javascript:;" data-drink="Paloma">Paloma</a>
        <li> <a class="push-stack" href="javascript:;" data-drink="Martini">Martini</a>
      </ul>
    </responsive-child>

    <script>
window.recipeData = <%= JSON.stringify(json.BuildingABar_recipes) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
