<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <nav class="ingredients">

          START HERE:

          <input id="whiskey" type="checkbox" checked="checked">
          <label class="drink-label" for="whiskey">Whiskey</label>
          
          <input id="vodka" type="checkbox">
          <label class="drink-label" for="vodka">Vodka</label>
            
          <input id="gin" type="checkbox">
          <label class="drink-label" for="gin">Gin</label>
          
          <input id="tequila" type="checkbox">
          <label class="drink-label" for="tequila">Tequila</label>

          <hr>

          ADD: 
            
          <input id="sweet vermouth" type="checkbox">
          <label class="drink-label" for="sweet vermouth">Sweet Vermouth</label>
            
          <input id="campari" type="checkbox">
          <label class="drink-label" for="campari">Campari</label>
            
          <input id="cointreau" type="checkbox">
          <label class="drink-label" for="cointreau">Cointreau</label>
            
          <input id="green chartreuse" type="checkbox">
          <label class="drink-label" for="green chartreuse">Green Chartreuse</label>
            
          <input id="maraschino liqueur" type="checkbox">
          <label class="drink-label" for="maraschino liqueur">Maraschino Liqueur</label>
            
          <input id="dry vermouth" type="checkbox">
          <label class="drink-label" for="dry vermouth">Dry Vermouth</label>

        </nav>

        <ul class="recipes"></ul>
        <div class="recipe-panel"></div>

      </main>
    </responsive-child>

    <script>
window.recipeData = <%= JSON.stringify(json.BuildingABar_recipes) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
